
<div class="container">
    <div >
        <br>
        <a href="#/plantillas/nueva" class="btn btn-success glyphicon glyphicon-plus"> <span>Crear plantilla</span></a>
        <div class="table-responsive">
            <table id="breakingBadChar" class="table table-hover" > 
                <thead>
                    <tr>                         
                        <th></th>
                        <th>Plantillas</th>
                        <th>Descripción</th>
                        <th>Vigente</th>
                        <th>Creado por</th>
                        <th>Ultima modificación</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in lista"> 
                        <td><a href="#/plantillas/editar/{{item._id}}" class="glyphicon glyphicon-pencil" ></a></td>
                        <td><a href="#/plantillas/editar/{{item._id}}"><b>{{item.nombre}}</b></a></td>
                        <td>{{item.descripcion}}</td>
                        <td> 
                            <a href="#/plantillas/editar/{{item._id}}" >
                                <div class="material-switch pull-right">
                                    <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox" ng-model="item.vigente" ng-true-value=true ng-false-value=false disabled=""/>
                                    <label for="someSwitchOptionSuccess" class="label-success"></label>
                                </div>
                            </a>
                        </td>                        
                        <td>{{item.usuario_crea}}<br>{{item.fecha_crea}}</td>
                        <td>{{item.fecha_modifica}}</td>                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>