
.metadato, .seccion{
    border-bottom: 1px #eee solid;
}

.editorTexto{
    min-height: 80px;
    border: 1px solid grey;
}
/* ===================================  Propios ======================*/

body{
    background: #eeeef1;
    font: 14px  "Segoe UI", "Tahoma", "Calibri", arial, sans-serif ;
        color: black;
        width: 100%;
        min-height: 100%;
}


/*.glyphicon{
    font-family: "Segoe UI", "Tahoma", "Calibri", arial, sans-serif ;}  */

button, a, span, li{
    font-size: 14px;
    font-family: "Segoe UI", "Tahoma", "Calibri", arial, sans-serif ;}  
header {
    background:#2c3e50;
    color:#fff;
}

header h3 {
    margin: 10px 0 5px 0;
}

.subHeader {
    background:#2c3e50;
    color:#fff;
}

a {color:#444;} 
/*a:visited {color:#444;}*/ 
/*a:active {color:#444;}*/
a:hover {color:#000000;}
a:link   {  text-decoration:none; }

table th{
    background:#34495e;
    color:#fff;
}

.main {
    background:#f2f2f2;
}

.color1 {
    background: #34495e;
    color:#fff;
}

aside {
    background:#c0392b;
    color:#fff;
}

footer {
    background:#4d6673;
    color:#fff;
}


.txtEditor, .txtPrevisualizacion{
    padding: 10px 20px;
    background: #fff;
}

.txtEditor textarea, .txtPrevisualizacion textarea{
    width: 100%;
    height: 100px;
}

/* -------------- de los botones  on / off   */

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}



/* ----------------- para los menus   ----------  */
.menu{
    padding: 0 15% 0 10%;
    background-color: #273343;
    border-top-left-radius: 24px;
    border: solid 1px #666;
}

.navbar-default {
    background-color: #273343;    
}
.navbar-default .navbar-brand {
    color: #b7bfc1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fbfeff;
}
.navbar-default .navbar-text {
    color: #b7bfc1;
}
.navbar-default .navbar-nav > li > a {
    color: #b7bfc1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fbfeff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #fbfeff;
    background-color: #566e85;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #fbfeff;
    background-color: #566e85;
}
.navbar-default .navbar-toggle {
    border-color: #566e85;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #566e85;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #b7bfc1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #b7bfc1;
}
.navbar-default .navbar-link {
    color: #b7bfc1;
}
.navbar-default .navbar-link:hover {
    color: #fbfeff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #b7bfc1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fbfeff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fbfeff;
        background-color: #566e85;
    }
}



/*******************************  DRAG N DROP *****************************/

/***************************** Required styles *****************************/

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.creacion-plantillaDnd ul[dnd-list],
.creacion-plantillaDnd ul[dnd-list] > li {
	position: relative;
}

/***************************** Dropzone Styling *****************************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.creacion-plantillaDnd .dropzone ul[dnd-list] {
    min-height: 42px;
    margin: 0px;
    padding-left: 0px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.creacion-plantillaDnd .dropzone li {
    background-color: #fff;
    //border: 1px solid #ddd;
    display: block;
    padding: 0px;
}

/**
 * Reduce opacity of elements during the drag operation. This allows the user
 * to see where he is dropping his element, even if the element is huge. The
 * .dndDragging class is automatically set during the drag operation.
 */
.creacion-plantillaDnd .dropzone .dndDragging {
   opacity: 0.7;
}

/**
 * The dndDraggingSource class will be applied to the source element of a drag
 * operation. It makes sense to hide it to give the user the feeling that he's
 * actually moving it. Note that the source element has also .dndDragging class.
 */
.creacion-plantillaDnd .dropzone .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be added as child of the dnd-list
 * while the user is dragging over it.
 */
.creacion-plantillaDnd .dropzone .dndPlaceholder {
    background-color: #ddd;
    min-height: 42px;
    display: block;
    position: relative;
}

/***************************** Toolbox *****************************/

.creacion-plantillaDnd .toolbox ul {
    list-style: none;
    padding-left: 0px;
    cursor: move;
}

/***************************** Trashcan *****************************/

.creacion-plantillaDemo .trashcan ul {
    list-style: none;
    padding-left: 0px;
}

.creacion-plantillaDemo .trashcan img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.creacion-plantillaDemo .trashcan .dndDragover img {
    width: 100%;
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.creacion-plantillaDemo .trashcan .dndPlaceholder {
    display: none;
}
/******************************************************************/

body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.box {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.box > h3 {
    color: #333;
    border-color: #ddd;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-repeat: repeat-x;
    display: block;
    font-size: 16px;
    padding: 10px 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.box-padding {
    padding: 15px;
}

.box-padding > h3 {
    margin: -15px;
    margin-bottom: 15px;
}

.box-grey {
    border-color: #ddd;
}

.box-grey > h3 {
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}

.box-blue {
    border-color: #bce8f1;
}

.box-blue > h3 {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    background-image: -webkit-linear-gradient(top,#d9edf7 0,#c4e3f3 100%);
    background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);
}

.box-yellow {
    border-color: #faebcc;
}

.box-yellow > h3 {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    background-image: -webkit-linear-gradient(top,#fcf8e3 0,#faf2cc 100%);
    background-image: linear-gradient(to bottom,#fcf8e3 0,#faf2cc 100%);
}