<div>
    <div>
        <div style="margin: 10px 0" class="row">
            <div class="col-md-1 col-xs-1" style="padding:0" ng-include="'forms/menu2.html'">            
            </div>
            <div class="col-md-6 col-xs-7">
                <input ng-model="contexto.nombre" placeholder="Documento sin nombre" style="width: 100%; font-size: 18pt; font-style: italic; ">
            </div>
        </div>
        <div id="contenidoDocumento" class="container" >
            <div class="row">
                <div id="editorDocumento" class="txtEditor creacion-plantillaDnd row"  style="width:21.6cm;  height:8cm; overflow:auto; border:1px solid gray; ">

                    <div ng-repeat="item in contexto.componentes"
                         ng-class="item.tipo"
                         ng-include="'componentes/' + item.componente + '.html'" 
                         id="{{item.id}}" 
                         ng-init="(item.tipo ==='metadato')? campos = item.campos : campos = item.campos;
                                     parametros = item.parametros"
                         >
                    </div>
                </div>
                <a class="glyphicon glyphicon-unchecked  btn-info btn" ng-click="limpiar()"> <span> Limpiar</span></a>
            </div>
        </div>
    </div>
    <button ng-click="guardar()" class="btn btn-success glyphicon glyphicon-ok"> <span>Guardar</span></button> 
    <a href="#/documentos" class="btn btn-primary glyphicon glyphicon-home"> <span>volver al inicio</span></a>

</div>


